body {
  background-color: #f1fdfa;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 78px;
}
h2,
h3,
h4,
p {
  font-family: "Lato", sans-serif;
}

a {
  color: #008080;
  text-decoration: none;
}
a:hover {
  color: #6dcfcc;
  text-decoration: underline;
}
a:visited {
  color: #f173ac;
}
