.phonetics {
  margin: 25px 0;
}
.phonetics a {
  font-weight: 400;
  color: #17a2b8;
  margin: 15px;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 18px;
  border: 1px solid #17a2b8;
  border-radius: 50px;
  text-decoration: none;
}
.phonetics a:hover {
  background-color: #17a2b8;
  color: white;
  transition: all 150ms ease-in-out;
}

.phonetics .text {
  opacity: 0.75;
}
